{% extends "base.html" %}
{% block title %}
Admin_view
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Admin View</h1>
        <p> Here you can view all users and events. Use the 'select' button and then click on users/events to delete or modify.</p>
        <!-- User Table -->
        <div>
            <h2>User Management</h2>
            <ul>
                {% for user in users %}
                <li>
                    <strong>{{ user.username }}</strong> {% if user.access_level==2 %}(Admin){% endif %}
                    <button onclick="toggleOptions({{ user.user_id }})">Select</button>
                    <div id="options-{{ user.user_id }}" style="display:none;">
                        <a href="{{ url_for('edit_user', user_id=user.user_id) }}">Modify</a>
                        <form action="{{ url_for('delete_user', user_id=user.user_id) }}" method="POST" style="display:inline;">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        <script>
        function toggleOptions(userId) {
            const optionsDiv = document.getElementById(`options-${userId}`);
            optionsDiv.style.display = optionsDiv.style.display === 'none' ? 'block' : 'none';
        }
        </script>
{% endblock %}