{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    {% if title == "Explore" %}
        <h1>Hi, {{ current_user.username }}!</h1>
        <h4>Search</h4>
        <form class="form-inline" method="GET" action="{{ url_for('explore') }}">
            <div class="form-group">
                <label for="query">Name</label>
                <input type="text" class="form-control" name="query" id="query">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    {% endif %}

    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}
    {% for post in posts %}
        {% if post.author != None %}
            {% include '_post.html' %}
            {% if current_user.id == post.author.id or current_user.access_level == 1 %}
            <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
            </form>
            {% endif %}
        {% endif %}
    {% endfor %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}