{% extends 'base.html' %}
{% import "bootstrap_wtf.html" as wtf %}
{% block title %}
Map
{% endblock %}

{% block content %}
    <h4>Search</h4>
        <form class="form-inline" method="GET" action="api/markers">
            <div class="form-group">
                <label for="query">Name</label>
                <input type="text" class="form-control" name="query" id="query">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

    <div id="map" style="width:900px; height:580px; "></div>
    <br>
    <!-- Form that will be shown after a map click -->
    <form id="form-container" method="POST" action="{{ url_for('map') }}" style="display:none;">
        {{ wtf.quick_form(form) }}
    </form>
    </div>
    <script src="../static/leaf.js"></script>
    <br>
    <br>
{% endblock %}