{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h1>Reset Your Password</h1>
    {{ wtf.quick_form(form) }}
    <script>
        window.addEventListener("load", function(){
            var checkbox  = document.getElementById('Check');
            var x = document.getElementById('Password');
            var y = document.getElementById('Confirm_password');
            checkbox.addEventListener('change', function() {
                if(this.checked) {
                    x.type = 'text'; 
                    y.type = 'text';
                } else {
                    x.type = 'password'; 
                    y.type = 'password';
                }
            });
        });
    </script>
{% endblock %}